.admin-container {
    display: flex;
    flex-direction: row;
    background-color: palegreen;
    height: 100%;
}
 
.sidebar {
    flex: 1;
    flex-grow: 1;
    background-color: white;
}

.main-admin {
    flex: 1;
    flex-grow: 4;
    background-color: #e1e1e1;
}