.manage-container {
    padding: 25px 50px;
}

.firstManage {
    padding: 25px 50px;
}

.secondManage {
    padding:25px 50px;
}

.secondBtn {
    padding: 25px 50px;
}

.firstBtn {
    padding: 25px 50px;
}